@page "/counter"

<PageTitle>Counter</PageTitle>

<MudText>Counter</MudText>

<p role="status">Current count: @currentCount</p>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="IncrementCount">Click Me</MudButton>


